@tailwind base;
@tailwind components;
@tailwind utilities;

.triangle-right{
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 14px solid green;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-left: 1px solid #2b3346;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ee007778;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ee0077;
}

/* ee0077 */